/* body */
body {
  @include flex-column;
  margin: 0px;
  background-color: $light-grey;
}

/* header */
.header-section {
  @include flex-column;
  justify-content: center;
  &__heading {
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 0px;
    background-color: $white;
    & h1 {
      font-family: Shrikhand, sans-serif;
      letter-spacing: 0.05rem;
      font-size: 30px;
      margin: 0px;
      font-size: 2.3rem;
      font-weight: 500;
    }
  }
  & .location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    background-color: $dark-grey;
    padding: 15px;
    z-index: -1;
    & h3 {
      font-family: $main-font;
      margin: 0px;
    }
  }
}

/* main */
main {
  @include flex-column;
}

/* footer */
footer {
  background-color: $font-grey;
}

.footer-info {
  @include flex-column;
  justify-content: center;
  color: $white;
  font-family: $main-font;
  padding: 22px 25px;
  @media screen and (min-width: 992px) {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    padding: 50px 50px 30px;
    max-width: 1440px;
  }
  & h3 {
    font-family: Shrikhand, sans-serif;
    font-weight: 400;
    margin: 0 0 15px;
    @media screen and (min-width: 992px) {
      margin: 0;
    }
  }
  &__links {
    @include flex-column;
    justify-content: space-between;
    gap: 7px;
    @media screen and (min-width: 992px) {
      flex-direction: row;
      gap: 30px;
    }
  }
  &__link {
    font-weight: 500;
    & svg {
      margin-right: 7px;
    }
  }
  & a {
    text-decoration: none;
    color: inherit;
  }
}