/* color variables */
/* font variable */
/* flexbox direction-column */ /* body */
body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: #f6f6f6;
}

/* header */
.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-section__heading {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 0px;
  background-color: #fff;
}
.header-section__heading h1 {
  font-family: Shrikhand, sans-serif;
  letter-spacing: 0.05rem;
  font-size: 30px;
  margin: 0px;
  font-size: 2.3rem;
  font-weight: 500;
}
.header-section .location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #eaeaea;
  padding: 15px;
  z-index: -1;
}
.header-section .location h3 {
  font-family: Roboto, sans-serif;
  margin: 0px;
}

/* main */
main {
  display: flex;
  flex-direction: column;
}

/* footer */
footer {
  background-color: #353535;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-family: Roboto, sans-serif;
  padding: 22px 25px;
}
@media screen and (min-width: 992px) {
  .footer-info {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    padding: 50px 50px 30px;
    max-width: 1540px;
  }
}
.footer-info h3 {
  font-family: Shrikhand, sans-serif;
  font-weight: 400;
  margin: 0 0 15px;
}
@media screen and (min-width: 992px) {
  .footer-info h3 {
    margin: 0;
  }
}
.footer-info__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 7px;
}
@media screen and (min-width: 992px) {
  .footer-info__links {
    flex-direction: row;
    gap: 30px;
  }
}
.footer-info__link {
  font-weight: 500;
}
.footer-info__link svg {
  margin-right: 7px;
}
.footer-info a {
  text-decoration: none;
  color: inherit;
}

/* header */
.home-header-container {
  position: absolute;
  width: 100%;
  margin-top: 0px;
}
.home-header-container__heading {
  padding: 20px 0px;
}
.home-header-container__heading::after {
  content: "";
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: absolute;
  margin-top: 45px;
  opacity: 0;
  animation: home-page-header-animation 900ms linear;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

/* main */
.home-main-container {
  margin-top: 140px;
}

/* explore section */
.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0px;
  gap: 20px;
  font-family: Roboto, sans-serif;
}
@media screen and (min-width: 992px) {
  .explore {
    padding-bottom: 10px;
  }
}
.explore h2 {
  margin: 0px;
}
@media screen and (min-width: 992px) {
  .explore h2 {
    font-size: 3rem;
  }
}
.explore p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

/* How-it-works section */
.how-it-works-container {
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  justify-content: center;
  font-family: Roboto, sans-serif;
  align-items: center;
  padding-bottom: 60px;
}
@media screen and (min-width: 769px) {
  .how-it-works {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .how-it-works {
    width: 100%;
  }
}
.how-it-works h2 {
  margin: 50px 190px 30px 0px;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 769px) {
  .how-it-works h2 {
    align-self: flex-start;
    margin-left: 12%;
  }
}
@media screen and (min-width: 769px) {
  .how-it-works h2 {
    margin-left: 12%;
  }
}
.how-it-works-cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
@media screen and (min-width: 769px) {
  .how-it-works-cards {
    width: 75%;
  }
}
@media screen and (min-width: 992px) {
  .how-it-works-cards {
    flex-direction: row;
    justify-content: center;
    width: 75%;
    gap: 60px;
  }
}
.how-it-works__card {
  display: flex;
  cursor: not-allowed;
}
@media screen and (min-width: 769px) {
  .how-it-works__card {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .how-it-works__card {
    width: 33%;
    min-width: 0;
  }
}
.how-it-works .card-bullet {
  position: absolute;
  margin-top: 27px;
}
.how-it-works .card-bullet span {
  position: absolute;
  margin-left: -16px;
  margin-top: 5px;
  color: #fff;
  font-size: 14.182px;
  font-weight: 500;
}
.how-it-works .card-content {
  display: flex;
  padding-left: 35px;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background: #f6f6f6;
  width: 287px;
  height: 72.379px;
  margin-left: 10px;
}
@media screen and (min-width: 769px) {
  .how-it-works .card-content {
    width: 100%;
    justify-content: center;
  }
}
.how-it-works span {
  font-size: 16px;
  font-weight: 600;
  width: 200px;
}
@media screen and (min-width: 769px) {
  .how-it-works span {
    overflow: hidden;
    max-width: 24vw;
  }
}

/* Restaurants section */
.restaurants-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  margin: 40px 5% 60px;
  width: 90%;
  max-width: 1300px;
}
@media screen and (min-width: 769px) {
  .restaurants {
    align-items: center;
  }
}
.restaurants h2 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 700;
  align-self: flex-start;
}
@media screen and (min-width: 769px) {
  .restaurants h2 {
    margin-left: 7.5%;
    align-self: flex-start;
  }
}
.restaurants-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 769px) {
  .restaurants-cards {
    width: 85%;
  }
}
@media screen and (min-width: 992px) {
  .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 45px;
  }
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 261px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-decoration: none;
}
@media screen and (min-width: 992px) {
  .restaurants__card {
    width: 45%;
  }
}
.restaurants__card:hover + .heart-container {
  transform: translate(0.7px, -0.5px) scale(1.02);
  transition: transform 200ms ease;
}
.restaurants__card:visited {
  color: #000;
}
.restaurants__card .card-image {
  display: flex;
  justify-content: flex-end;
}
.restaurants__card img {
  width: 100%;
  height: 181px;
  object-fit: cover;
}
.restaurants__card span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #99e2d0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: #008766;
  font-family: Roboto, sans-serif;
  margin: 15px 10px 0 0;
}
.restaurants__card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants__card .card-content__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.restaurants__card .card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 15px;
  gap: 3px;
  align-self: flex-start;
}
.restaurants__card h3 {
  margin: 0px;
}
.restaurants p {
  margin: 0px;
}

/* home header-animation */
@keyframes home-page-header-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(35px);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
}
.absolute-positioning {
  position: absolute;
  margin-right: -75vw;
  margin-bottom: 25px;
  margin-top: -80px;
}
@media screen and (min-width: 769px) {
  .absolute-positioning {
    margin-right: -65vw;
  }
}
@media screen and (min-width: 992px) {
  .absolute-positioning {
    margin-right: auto;
    position: absolute;
    margin-left: -70px;
    margin-top: 200px;
  }
}

/* body container */
.restaurant-body-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
}

/* header */
.restaurant-header-container {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 20px 1px #000;
  animation: header-effect 500ms;
  z-index: 3;
  width: 100%;
}

.restaurant-header-container__heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant-header-container__heading h1 {
  margin-right: auto;
  font-family: Shrikhand, sans-serif;
  font-size: 2.3rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: -50px;
}

.return-svg {
  margin-right: auto;
  margin-left: 20px;
}

/* main */
.restaurant-main-container {
  animation: lighting-effect 1.5s;
}

/* banner */
.banner {
  display: flex;
}
.banner__image {
  height: 355px;
  width: 100%;
  object-fit: cover;
}

/* menu */
.menu {
  margin-top: -50px;
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1055px;
  align-self: center;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
  width: 330px;
  align-self: center;
}
.menu__title h1 {
  font-family: Shrikhand, sans-serif;
  font-weight: 400;
  font-size: 28px;
}
.menu .courses-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  width: 90%;
  max-width: 634px;
  align-self: center;
}
.menu__course {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 0 40px;
}
.menu__subtitle {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}
.menu__subtitle::after {
  content: "";
  height: 3px;
  width: 40px;
  background: #99e2d0;
  margin-top: 7px;
}
.menu .option {
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.1);
  font-family: Roboto, sans-serif;
  overflow: hidden;
  animation: cascading 1s ease-out backwards;
}
.menu .option--1 {
  animation-delay: 150ms;
}
.menu .option--2 {
  animation-delay: 300ms;
}
.menu .option--3 {
  animation-delay: 450ms;
}
.menu .option--4 {
  animation-delay: 600ms;
}
.menu .option--5 {
  animation-delay: 750ms;
}
.menu .option--6 {
  animation-delay: 900ms;
}
.menu .option--7 {
  animation-delay: 1050ms;
}
.menu .option--8 {
  animation-delay: 1200ms;
}
.menu .option--9 {
  animation-delay: 1350ms;
}
.menu .option:hover {
  box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.2);
}
.menu .option:hover .option__checkbox-wrapper {
  transform: translateX(-59px);
  margin-left: 60px;
}
.menu .option__text {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .option__text h4 {
  margin: 0;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu .option__text p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu .option__checkbox-wrapper {
  transition: transform 450ms;
  display: flex;
  gap: 15px;
  margin-right: -60px;
  flex-shrink: 1;
}
.menu .option__price {
  font-weight: 800;
  margin: 25px 0 0;
  align-self: center;
}
.menu__button {
  align-self: center;
  margin: 0 0 20px;
  cursor: pointer;
  width: 190px;
  opacity: 1;
  animation: purple-button-out 500ms both;
  border: none;
}
.menu__button:hover {
  animation: purple-button-in 500ms both;
}

/* footer */
.footer-container {
  animation: lighting-effect 1.5s;
}

/* purple order button animation */
@keyframes purple-button-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes purple-button-out {
  from {
    opacity: 0.8;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
  to {
    opacity: 1;
  }
}
/* sliding header effect on page load */
@keyframes header-effect {
  from {
    padding-bottom: 40px;
  }
  to {
    padding-bottom: 0;
  }
}
/* slow brightening on page load */
@keyframes lighting-effect {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
/* cascading options animation */
@keyframes cascading {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* home page loading donut animation */
.donut-animation {
  z-index: -1;
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}
.donut-animation__donut {
  opacity: 0;
}
.donut-animation__pan {
  opacity: 0;
  filter: drop-shadow(0 -6mm 4mm red);
}

/* animation keyframes */
@keyframes spinning-donut {
  0% {
    transform: rotate(0) scale(0.9);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(1080deg);
    opacity: 0;
  }
}
@keyframes pan {
  0% {
    opacity: 1;
    transform: scaleX(0);
    filter: none;
  }
  17% {
    transform: translateX(15%);
  }
  46% {
    transform: translateX(-10%);
  }
  85% {
    transform: translateX(15%);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateX(-10%);
    opacity: 0;
  }
}
/* filling heart animation */
.heart-container {
  position: relative;
  width: 35px;
  aspect-ratio: 1/1;
  overflow: hidden;
  clip-path: url(#svgClip);
}

.heart-clip {
  appearance: none;
  margin: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  z-index: 2;
}

.heart-clip + .fill {
  top: 0;
  left: 0;
  transform: translateY(10%);
  width: 350px;
  aspect-ratio: 1/1;
  transition: transform 750ms ease-out;
}

.heart-clip:checked + .fill {
  transform: translateY(-1%);
}

.heart-stroke {
  width: 31px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 2px;
  left: 2px;
  fill: #fff;
  stroke: #353535;
  stroke-width: 4px;
}

.waveShape {
  animation-name: waveAction;
  animation-timing-function: ease-in;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

@keyframes waveAction {
  0% {
    transform: translate(-375px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* body fading animation */
@keyframes body-fading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* skeumorphic button/card design */
.card {
  transition: all 400ms;
}
.card:hover {
  transform: translateY(-2px) translatex(-2px) scale(1.02);
  box-shadow: 20px 10px 20px 0px rgba(0, 0, 0, 0.25);
}
.card:active {
  transform: scale(1);
  box-shadow: 10px 4px 15px 0px rgba(0, 0, 0, 0.2);
}

/* purple button styling */
.purple-button {
  text-decoration: none;
  width: 218px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.1rem;
}

/*# sourceMappingURL=styles.css.map */
