header,
main,
footer {
  animation: body-fading 500ms 3s backwards;
}

/************ header *************/
.home-header-container {
  position: absolute;
  width: 100%;
  margin-top: 0px;
  &__heading {
    padding: 20px 0px;
    &::after {
      content: "";
      width: 100%;
      height: 50px;
      background-color: $white;
      position: absolute;
      margin-top: 45px;
      opacity: 0;
      animation: home-page-header-animation 900ms linear;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }
  }
}

/************* main *************/
.home-main-container {
  margin-top: 140px;
}

/************* explore section *************/
.explore {
  @include flex-column;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0px;
  gap: 20px;
  font-family: $main-font;
  @media screen and (min-width: 992px) {
    padding-bottom: 10px;
  }
  & h2 {
    margin: 0px;
    @media screen and (min-width: 992px) {
      font-size: 3rem;
    }
  }
  & p {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: $font-grey;
  }
}

/************* How-it-works section *************/
.how-it-works-container {
  background-color: $white;
  margin: 0;
  padding: 0;
  @include flex-column;
  justify-content: center;
  align-items: center;
}

.how-it-works {
  @include flex-column;
  width: 100%;
  max-width: 1440px;
  justify-content: center;
  font-family: $main-font;
  align-items: center;
  padding-bottom: 60px;
  @media screen and (min-width: 769px) {
    width: 70%;
  }
  @media screen and (min-width: 992px) {
    width: 100%;
  }
  & h2 {
    margin: 50px 190px 30px 0px;
    font-size: 24px;
    font-weight: 700;
    @media screen and (min-width: 769px) {
      align-self: flex-start;
      margin-left: 12%;
    }
    @media screen and (min-width: 769px) {
      margin-left: 12%;
    }
  }
  &-cards {
    @include flex-column;
    gap: 25px;
    align-items: center;
    @media screen and (min-width: 769px) {
      width: 75%;
    }
    @media screen and (min-width: 992px) {
      flex-direction: row;
      justify-content: center;
      width: 75%;
      gap: 60px;
    }
  }
  &__card {
    display: flex;
    cursor: not-allowed;
    @media screen and (min-width: 769px) {
      width: 100%;
    }
    @media screen and (min-width: 992px) {
      width: 33%;
      min-width: 0;
    }
  }
  & .card-bullet {
    position: absolute;
    margin-top: 27px;
    & span {
      position: absolute;
      margin-left: -16px;
      margin-top: 5px;
      color: $white;
      font-size: 14.182px;
      font-weight: 500;
    }
  }
  & .card-content {
    display: flex;
    padding-left: 35px;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background: $light-grey;
    width: 287px;
    height: 72.379px;
    margin-left: 10px;
    @media screen and (min-width: 769px) {
      width: 100%;
      justify-content: center;
    }
  }
  & span {
    font-size: 16px;
    font-weight: 600;
    width: 200px;
    @media screen and (min-width: 769px) {
      overflow: hidden;
      max-width: 24vw;
    }
  }
}

/************* Restaurants section *************/
.restaurants-container {
  @include flex-column;
  justify-content: center;
  align-items: center;
}

.restaurants {
  @include flex-column;
  justify-content: center;
  background-color: $light-grey;
  margin: 40px 5% 60px;
  width: 90%;
  max-width: 1300px;
  @media screen and (min-width: 769px) {
    align-items: center;
  }
  & h2 {
    font-family: $main-font;
    font-size: 24px;
    font-weight: 700;
    align-self: flex-start;
    @media screen and (min-width: 769px) {
      margin-left: 7.5%;
      align-self: flex-start;
    }
  }
  &-cards {
    @include flex-column;
    align-items: center;
    gap: 20px;
    @media screen and (min-width: 769px) {
      width: 85%;
    }
    @media screen and (min-width: 992px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 45px;
    }
    &.card-heart {
      /* heart icon animation wrapper */
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
    }
  }
  &__card {
    @include flex-column;
    width: 100%;
    height: 261px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
    @media screen and (min-width: 992px) {
      width: 45%;
    }
    &:visited {
      color: #000;
    }
    & .card-image {
      display: flex;
      justify-content: flex-end;
    }
    & img {
      width: 100%;
      height: 181px;
      object-fit: cover;
    }
    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 80px;
      height: 29px;
      flex-shrink: 0;
      border-radius: 2px;
      background: $mint;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
      color: $green;
      font-family: $main-font;
      margin: 15px 10px 0 0;
    }
    & .card-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    & .card-title {
      @include flex-column;
      justify-content: space-between;
      align-items: flex-start;
      margin: 15px;
      gap: 3px;
      align-self: flex-start;
      color: $black;
    }
    & h3 {
      margin: 0px;
    }
  }
  & p {
    margin: 0px;
  }
}

/************* home header-animation *************/
@keyframes home-page-header-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(35px);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
}

.absolute-positioning {
  position: absolute;
  margin-right: -75vw;
  margin-bottom: 25px;
  margin-top: -80px;
  @media screen and (min-width: 769px) {
    margin-right: -65vw;
  }
  @media screen and (min-width: 992px) {
    margin-right: auto;
    position: absolute;
    margin-left: -70px;
    margin-top: 200px;
  }
}

/* delay display to prevent click cards on page laod */
@keyframes home-display-delay {
  0% {
    display: none;
  }
  100% {
    display: block;
  }
}