/* home page loading donut animation */
.donut-animation {
  z-index: -1;
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  &__donut {
    opacity: 0;
    // animation: spinning-donut 3100ms ease-in;
  }
  &__pan {
    opacity: 0;
    filter: drop-shadow(0 -6mm 4mm red);
    // animation: pan 3100ms linear both;
  }
}

/* animation keyframes */

@keyframes spinning-donut {
  0% {
    transform: rotate(0) scale(0.9);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(1080deg);
    opacity: 0;
  }
}

@keyframes pan {
  0% {
    opacity: 1;
    transform: scaleX(0);
    filter: none;
  }
  17% {
    transform: translateX(15%);
  }
  46% {
    transform: translateX(-10%);
  }
  85% {
    transform: translateX(15%);
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: translateX(-10%);
    opacity: 0;
  }
}