/* color variables */
$white: #fff;
$dark-grey: #eaeaea;
$light-grey: #f6f6f6;
$font-grey: #353535;
$mint: #99e2d0;
$green: #008766;
$light-blue: #89c8fa;
$dark-blue: #003a68;
$purple: #9356dc;

/* font variable */
$main-font: Roboto, sans-serif;