/* body container */
.restaurant-body-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
}

/* header */
.restaurant-header-container {
  position: absolute;
  background-color: white;
  box-shadow: 0 0 20px 1px #000;
  animation: header-effect 500ms;
  z-index: 3;
  width: 100%;
}

.restaurant-header-container__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  & h1 {
    margin-right: auto;
    font-family: Shrikhand, sans-serif;
    font-size: 2.3rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: -50px;
  }
}

.return-svg {
  margin-right: auto;
  margin-left: 20px;
}

/* main */

.restaurant-main-container {
  animation: lighting-effect 1.5s;
}

/* banner */
.banner {
  display: flex;
  &__image {
    height: 355px;
    width: 100%;
    object-fit: cover;
  }
}

/* menu */
.menu {
  margin-top: -50px;
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1055px;
  align-self: center;
  &__title {
    display: flex;
    justify-content: space-between;
    margin: 15px 20px;
    width: 330px;
    align-self: center;
    & h1 {
      font-family: Shrikhand, sans-serif;
      font-weight: 400;
      font-size: 28px;
    }
  }
  & .courses-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    width: 90%;
    max-width: 634px;
    align-self: center;
  }
  &__course {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 0 40px;
  }
  &__subtitle {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    &::after {
      content: "";
      height: 3px;
      width: 40px;
      background: #99e2d0;
      margin-top: 7px;
    }
  }
  .option {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.1);
    font-family: Roboto, sans-serif;
    overflow: hidden;
    animation: cascading 1s ease-out backwards;
    @for $i from 1 through 9 {
      &--#{$i} {
        animation-delay: 150ms * $i;
      }
    }
    &:hover {
      box-shadow: 1px 4px 15px 1px rgba(0, 0, 0, 0.2);
      & .option__checkbox-wrapper {
      transform: translateX(-59px);
        margin-left: 60px;
      }
    }
    &__text {
      padding: 12px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      & h4 {
        margin: 0;
        font-size: 18px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      & p {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    &__checkbox-wrapper {
      transition: transform 450ms;
      display: flex;
      gap: 15px;
      margin-right: -60px;
      flex-shrink: 1;
    }
    &__price {
      font-weight: 800;
      margin: 25px 0 0;
      align-self: center;
    }
  }
  &__button {
    align-self: center;
    margin: 0 0 20px;
    cursor: pointer;
    width: 190px;
    opacity: 1;
    animation: purple-button-out 500ms both;
    &:hover {
      animation: purple-button-in 500ms both;
    }
  }
}

/* footer */
.footer-container {
  animation: lighting-effect 1.5s;
}

/* purple order button animation */
@keyframes purple-button-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.8;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes purple-button-out {
  from {
    opacity: 0.8;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
  to {
    opacity: 1;
  }
}

/* sliding header effect on page load */
@keyframes header-effect {
  from {
    padding-bottom: 40px;
  }
  to {
    padding-bottom: 0;
  }
}

/* slow brightening on page load */
@keyframes lighting-effect {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/* cascading options animation */
@keyframes cascading {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
